<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>lsm service</title>
    <style>
        html,
        body {
            font-family: '나눔 고딕', NanumGothic, '돋움', Dotum, sans-serif;
        }

        a {
            text-decoration: none;
            color: #000;
        }
    </style>
</head>
<body>
        <h1>회원 활성화</h1>

        <div th:if="${result eq true}">
            <p>회원님의 계정이 활성화 되었습니다.</p>
        </div>

        <div th:if="${result eq false}">
            <p>회원님의 계정이 활성화에 실패하였습니다.</p>
        </div>

</body>
</html>