<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>lsm service</title>
    <style>
        html,
        body {
            font-family: '나눔 고딕', NanumGothic, '돋움', Dotum, sans-serif;
        }

        a {
            text-decoration: none;
            color: #000;
        }
    </style>
</head>
<body>
        <h1>회원 로그인</h1>
        <div th:replace="/fragments/layout.html :: fragment-body-menu"></div>

        <div th:text="${errorMessage}">
        </div>

        <form method="post">
            <div>
                <label>
                    <input type="text" name="username" placeholder="아이디(이메일) 입력" required/>
                </label>
            </div>
            <div>
                <label>
                    <input type="password" name="password" placeholder="비밀번호 입력" required/>
                </label>
            </div>
            <div class="loginButton">
                <button type="submit">로그인</button>
            </div>
        </form>
        <div>
            <a href="/member/find/password">비밀번호 찾기</a>
        </div>

</body>
</html>