<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>lsm service</title>
    <style>
        html,
        body {
            font-family: '나눔 고딕', NanumGothic, '돋움', Dotum, sans-serif;
        }

        a {
            text-decoration: none;
            color: #000;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function() {
            $('form').on('submit', function () {

                var password = $(this).find('input[name=password]').val();
                var rePassword = $(this).find('input[name=rePassword]').val();

                if(password != rePassword) {
                    alert('비밀번호가 일치하지 않습니다.');
                    return false;
                }
            });
        });

    </script>
</head>
<body>
        <h1>비밀번호 초기화</h1>
        <div th:if="${result eq true}">
            <form method="post">
                <div th:text="${uuid}">
                </div>
                <div th:text="${parameter}">
                </div>

                <div>
                    <label>
                        <input type="password" name="password" placeholder="비밀번호 입력" required/>
                    </label>
                </div>
                <div>
                    <label>
                        <input type="password" name="rePassword" placeholder="비밀번호 확인 입력" required/>
                    </label>
                </div>
                <div>
                    <button type="submit">비밀번호 재설정</button>
                </div>
            </form>
        </div>
        <div th:if="${result eq false}">
            <p>입력값이 유효하지 않습니다</p>
            <div>
                <a href="/">메인으로 이동</a>
            </div>
        </div>
</body>
</html>