<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
        <title>lsm service</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>

    <script>
        $(document).ready(function(){
            $('.slider').bxSlider( {
                mode: 'horizontal',
                speed: 500,
                pager: true,
                auto: true,
                pause: 4000,
                minSlides: 1,
                maxSlides: 3,
            });
        });
    </script>

    <style>
        html,
        body {
            font-family: '나눔 고딕', NanumGothic, '돋움', Dotum, sans-serif;
        }

        a {
            text-decoration: none;
            color: #000;
        }
    </style>
    </head>
    <body>
        <h1>LMS Service</h1>
        <div th:replace="/fragments/layout.html :: fragment-body-menu"></div>

        <div class="slider">
                <div>
                    <a th:if="${list.get(0).openMethod == 0}" th:href="${list.get(0).getUrl()}">
                        <img th:if="${list.get(0).openMethod == 0}" th:src="${list.get(0).fileDirectory}"/>
                    </a>
                    <a th:if="${list.get(0).openMethod != 0}" th:href="${list.get(0).getUrl()}">
                        <img th:unless="${list.get(0).openMethod == 0}" th:src="${list.get(0).fileDirectory}" th:target="_blank"/>
                    </a>

                </div>
                <div>
                    <a th:if="${list.get(1).openMethod == 0}" th:href="${list.get(1).getUrl()}">
                        <img th:if="${list.get(2).openMethod == 0}" th:src="${list.get(1).fileDirectory}"/>
                    </a>
                    <a th:if="${list.get(1).openMethod != 0}" th:href="${list.get(1).getUrl()}">
                        <img th:unless="${list.get(2).openMethod == 0}" th:src="${list.get(1).fileDirectory}" th:target="_blank"/>
                    </a>
                </div>
                <div>
                    <a th:if="${list.get(2).openMethod == 0}" th:href="${list.get(2).getUrl()}">
                        <img th:if="${list.get(2).openMethod == 0}" th:src="${list.get(2).fileDirectory}"/>
                    </a>
                    <a th:if="${list.get(2).openMethod != 0}" th:href="${list.get(2).getUrl()}">
                        <img th:unless="${list.get(2).openMethod == 0}" th:src="${list.get(2).fileDirectory}" th:target="_blank"/>
                    </a>
                </div>
        </div>
    </body>
</html>