<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
        <title>lsm service</title>
    <style>
        html,
        body {
            font-family: '나눔 고딕', NanumGothic, '돋움', Dotum, sans-serif;
        }

        a {
            text-decoration: none;
            color: #000;
        }
    </style>
    </head>
    <body>
        <h1>메인 페이지</h1>

        <div th:replace="/fragments/layout.html :: fragment-body-menu"></div>
    </body>
</html>