<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
        <title>lsm service</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>

    <script>
        $(document).ready(function(){
            $('.slider').bxSlider( {
                mode: 'horizontal',
                speed: 500,
                pager: true,
                auto: true,
                pause: 4000,
                minSlides: 1,
                maxSlides: 3,
            });
        });
    </script>

    <style>
        html,
        body {
            font-family: '나눔 고딕', NanumGothic, '돋움', Dotum, sans-serif;
        }

        a {
            text-decoration: none;
            color: #000;
        }
    </style>
    </head>
    <body>
        <h1>LMS Service</h1>
        <div th:replace="/fragments/layout.html :: fragment-body-menu"></div>
        <div class="home-slider">
            <div class="slider">
                <div th:each="x : ${list}">
                    <a th:href="${x.getUrl()}"
                       th:target="${x.getOpenMethod() != 0} ? '_blank' : '_self'">
                        <img th:src="${x.fileDirectory}"></a>
                </div>
            </div>
        </div>
    </body>
</html>